# branches to build
branches:
  # whitelist
  only:
    - master
    - add_core_library

platform:
  - x86
  - x64

configuration:
  - Debug
  - Release

os: Visual Studio 2017

clone_folder: c:\projects\Morpheus

install:
  - cmd: echo "Downloading conan..."
  - cmd: set PATH=%PATH%;%PYTHON%/Scripts/
  - cmd: pip.exe install conan
  - cmd: conan user # Create the conan data directory
  - cmd: conan --version

build_script:
  # show settings
  - cmd: conan install . -o gtest:shared=True  
  - cmd: cmake -version
  - cmd: echo %platform%
  - cmd: echo %configuration%

  # generate a solution file
  - cmd: cd c:\projects\Morpheus
  - cmd: mkdir build
  - cmd: cd build
  - cmd: if "%platform%" == "x64" set cmake_platform=%platform%
  - cmd: cmake -g "Visual Studio 15 2017" .. -DCMAKE_GENERATOR_PLATFORM=%cmake_platform%

  # build it
  - cmd: if "%platform%" == "x86" set msbuild_platform=Win32
  - cmd: if "%platform%" == "x64" set msbuild_platform=%platform%
  - cmd: msbuild Morpheus.sln /p:Configuration=%configuration% /toolsversion:15.0 /p:PlatformToolset=v141 /p:Platform=%msbuild_platform%

test_script:
#  - if "%configuration%" == "Debug" ctest -VV --schedule-random -C Debug