name: Code Coverage

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug
  COMPILER_TYPE: gcc
  COMPILER_VERSION: 11 # This must match Gcov version which is 11 by default, and not installed by egor-tensin/setup-gcc@v1
  STDLIB: libstdc++11

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ "ubuntu-latest" ]

    steps:
      - uses: actions/checkout@v2

      - uses: seanmiddleditch/gha-setup-ninja@master

      - name: Cache Conan data
        uses: actions/cache@v3
        env:
          cache-name: cache-conan-data
        with:
          path: ${{github.workspace}}/.conan2/p
          key: build-${{ matrix.os }}-${{ env.BUILD_TYPE }}-${{ env.COMPILER_TYPE }}-${{ env.COMPILER_VERSION }}-${{ env.STDLIB }}
          restore-keys: |
            build-${{ matrix.os }}-${{ env.BUILD_TYPE }}-${{ env.COMPILER_TYPE }}-${{ env.COMPILER_VERSION }}-
            build-${{ matrix.os }}-${{ env.BUILD_TYPE }}-${{ env.COMPILER_TYPE }}-
            build-${{ matrix.os }}-${{ env.BUILD_TYPE }}-
            build-${{ matrix.os }}-

      - name: Install Latest GCC
        uses: egor-tensin/setup-gcc@v1
        with:
          version: ${{ env.COMPILER_VERSION }}
          platform: x64

      - name: Install Lcov
        shell: bash
        run: |
          wget https://github.com/linux-test-project/lcov/archive/refs/tags/v1.16.tar.gz
          tar -xvf v1.16.tar.gz
          cd lcov-1.16
          sudo make install

      - name: Install Linux System Packages
        shell: bash
        run: |
          sudo apt-get -y install libgl-dev
          sudo apt-get -y install libopengl-dev
          sudo apt-get -y install libglu1-mesa-dev

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install Conan Package Tools
        run: |
          pip install conan

      - name: Configure Conan
        shell: bash
        run: |
          conan profile detect --force
          sed -i.backup '/^\[settings\]$/,/^\[/ s/^compiler.cppstd=.*/compiler.cppstd=20/' .conan2/profiles/default
          sed -i.backup '/^\[settings\]$/,/^\[/ s/^build_type=.*/build_type=${{ env.BUILD_TYPE }}/' .conan2/profiles/default
          sed -i.backup '/^\[settings\]$/,/^\[/ s/^compiler=.*/compiler=${{ env.COMPILER_TYPE }}/' .conan2/profiles/default
          sed -i.backup '/^\[settings\]$/,/^\[/ s/^compiler.version=.*/compiler.version=${{ env.COMPILER_VERSION }}/' .conan2/profiles/default
          sed -i.backup '/^\[settings\]$/,/^\[/ s/^compiler.libcxx=.*/compiler.libcxx=${{ env.STDLIB }}/' .conan2/profiles/default
          conan profile show -pr default

      - name: Configure Install
        working-directory: ${{github.workspace}}
        shell: bash
        run: |
          conan install "${{github.workspace}}" --build missing -c tools.cmake.cmaketoolchain:generator=Ninja --build catch2/3.3.2

      - name: Configure Conan Build
        shell: bash
        working-directory: ${{github.workspace}}
        run: |
           source build/${{env.BUILD_TYPE}}/generators/conanbuild.sh

      - name: Conan Preset
        shell: bash
        run: echo "CONAN_PRESET=conan-$(echo ${{env.BUILD_TYPE}} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Configure CMake
        # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
        # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
        run: cmake --preset ${{ env.CONAN_PRESET }} -DENABLE_CODE_COVERAGE=1

      - name: Build
        # Build your program with the given configuration
        run: cmake --build --preset ${{ env.CONAN_PRESET }}

      - name: Test
        working-directory: ${{github.workspace}}
        # Execute tests defined by the CMake configuration.
        # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
        run: ctest --preset ${{ env.CONAN_PRESET }}

      - name: Fastcov
        # Run Fastcov target to collect coverage information.
        run: cmake --build --preset ${{ env.CONAN_PRESET }} --target coverage

      - name: Lcov
        # Run LCov target to generate code coverage report
        run: cmake --build --preset ${{ env.CONAN_PRESET }} --target coverage-lcov

      - name: Cobertura
        # Run Cobertura target to generate code coverage report in XML
        run: cmake --build --preset ${{ env.CONAN_PRESET }} --target coverage-cobertura

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 15
        with:
          detached: true

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          working-directory: ${{github.workspace}}/build/${{env.BUILD_TYPE}}/generators/coverage
          gcov: true
          gcov_include: ${{github.workspace}}/build/${{env.BUILD_TYPE}}/generators/coverage/html
          files: ${{github.workspace}}/build/${{env.BUILD_TYPE}}/generators/coverage/cobertura_coverage.xml
